%div.container
	%h1{id: "text"}
		= @text
	%div.button_container
		%button{class: "button blue", :onclick => "toggle()"}
			= "Client-Side Toggle"
	%div.button_container
		%button.button.green
			= "AJAX Toggle"
	%div.button_container
		%button.button.yellow
			= "Server-Side Toggle"
